/*
	@author ksdme
	the variables required to
	do this stuff mate
*/

$nav-bar-padding: 12px;

$register-panel-width: 39%;
$register-panel-mobile-width: 90%;
$register-panel-mobile-margin: 5%;

$icon-footer-mobile-padding: 20px;
