/*
	@author ksdme
	the variables required to
	do this stuff mate
*/

/* globals */
$app-small-font: 10px;
$app-bg-gradient-to: #ECE9E6;

/* general nav bar */
$nav-bar-padding: 12px;

/* registration panel */
$register-panel-width: 39%;
$register-panel-mobile-width: 90%;
$register-panel-mobile-margin: 5%;

/* registration panel */
$icon-footer-mobile-padding: 15px;
