/*
	@author ksdme
	main.scss
*/
@import 'variables';
@import 'utils';

/* app globals */
.app-background { @include app-background(); }
.app-nav-bar-fixes { @include app-nav-bar-fixes(); }

.register-view, .icon-footer {
	position: absolute !important; left: 50%;
	transform: translate(-50%, -50%);
} 

/* handles register view */
.register-view { 
	top: 50%; width: $register-panel-width !important;
}

/* the footer */
.icon-footer {
	bottom: 0px !important;
}

/* happens when it is a mobile */
@media only screen and (max-width: 767px) {
	.not-for-mobile {
		display: none !important;
	}

	.register-view {
		top: auto !important;
		left: $register-panel-mobile-margin !important;
		width: $register-panel-mobile-width !important;
		position: relative !important;
		transform: none;
	}

	.icon-footer {
		padding: $icon-footer-mobile-padding;
		position: relative !important;
		left: 50%; display: inline-block;
		transform: translate(-50%);
	}
}

/* happens when it is not a mobile */
@media only screen and (min-width: 768px) {
	.for-mobile {
		display: none !important;
	}
}

/* utilities */
.small-text { font-size: $app-small-font; }
.relative {	position: relative; }
.red-color { color: red; }
